.login-wraper {
  background-color: #dec;
}
.login-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  height: 250px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
}
